.acp-editbutton {
    border: #333 1px solid;
    border-radius: 3px;
    khtml-border-radius: 3px;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
    background-color: #555;
    color: #fff;
    padding: 2px 3px;
}
.acp-lockbutton {
    border: #333 1px solid;
    border-radius: 3px;
    khtml-border-radius: 3px;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
    background-color: #FF0000;
    color: #fff;
    padding: 2px 3px;
}
.acp-unlockbutton {
    border: #333 1px solid;
    border-radius: 3px;
    khtml-border-radius: 3px;
    webkit-border-radius: 3px;
    moz-border-radius: 3px;
    background-color: #008000;
    color: #fff;
    padding: 2px 3px;
}

.profile label {
    width: 250px !important;
}
.profile input[type=text], .profile input[type=password], .profile input[type=email] {
    width: 500px !important;
}
.perm {
    width: 100%;
    height: 60px;
}
.perm label {
    width: 360px !important;
    padding-right: 10px;
}
.perm label span {
    color: #808080;
    font-size: 10px;
}